<section id="contenedor">
    <div id="izquierda">
        <h1>Libre<span>Books</span></h1>
        <img src="../../assets/images/principe_encatador.jpg" alt="">
        <div id="opciones">
            <b><a routerLink="/insertar">Insertar Libros</a></b>
            <b><a routerLink="/modificar">Modificar Libros</a></b>
        </div>
    </div>
    <div id="derecha">
        <h1>BIENVENIDO A LIBRO<span>BOOKS</span></h1>
        <div *ngFor="let libro of librosDisponibles">
            <h4>{{libro.titulo_lbr}}</h4>
            <br>
            <h5>{{libro.genero_lbr}}</h5>
            <br>
            <p>{{libro.descripcion_lbr}}</p>
        </div>
    </div>
</section>