#izquierda {
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: rgba(180, 220, 250, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
img {
    width: 250px;
    border-radius: 25px 0 25px 0;
}
.menu {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px;
}
.menu:hover {
    background-color: rgba(0, 145, 255, 0.5);
}
span {
    color: blue;
}
#opciones {
    width: 300px;
    flex-wrap: wrap;
}
#izquierda h1 {
    border-left: 5px solid blue;
    padding-left: 10px;
}

#contenedor {
    display: flex;
}
#derecha {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width: 80%;
    height: 100vh;
}
.card {
    width: 380px;
}
.card p {
    font-size: 17px;
}
.libros {
    text-decoration: none;
    color: black;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
    width: 90%;
    height: 60%;
    margin-bottom: 50px;
}
.card-subtitle {
    display: inline-block;
    width: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    padding: 6px;
}