<section id="contenedor">
    <div id="izquierda">
        <h1>Libre<span>Books</span></h1>
        <img src="../../assets/images/principe_encatador.jpg" alt="">
        <div id="opciones">
            <b><a routerLink="/insertar">Insertar Libros</a></b>
            <b><a routerLink="/modificar">Modificar Libros</a></b>
        </div>
    </div>
    <div id="derecha">
        <h1>BIENVENIDO A LIBRO<span>BOOKS</span></h1>
        <!-- <div *ngFor="let libro of librosDisponibles">
            <img [src]="libro.imageUrl" [style.width]="anchoImagen" [title]="curso.name">
            <br>
            <h4>{{libro.nombre}}</h4>
            <br>
            <p>{{libro.descripcion}}</p>
        </div> -->
    </div>
</section>