<section id="contenedor">
    <div id="izquierda">
        <h1>Libre<span>Books</span></h1>
        <img src="../../assets/images/principe_encatador.jpg" alt="">
        <div id="opciones">
            <b><a routerLink="/insertar">Insertar Libros</a></b>
            <b><a routerLink="/inicio">Volver al inicio</a></b>
        </div>
    </div>
    <div id="derecha">
        <div id="modificarLibro">
            <h1><b>Modificar Libro</b></h1>
            <label for="titulo">Titulo a buscar:</label>
            <input type="text">
            <form id="libroBuscado">
                <label for="genero">Titulo:</label>
                <input type="text">
                <label for="genero">Género:</label>
                <input type="text">
                <label for="descripcion">Descripción:</label>
                <textarea name="" id="" cols="30" rows="5"></textarea>
                <div id="botones">
                    <button class="btn btn-primary">Modificar</button>
                    <button class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</section>