<section id="contenedor">
    <div id="izquierda">
        <h1>Libre<span>Books</span></h1>
        <img src="../../assets/images/principe_encatador.jpg" alt="">
        <div id="opciones">
            <b><a routerLink="/inicio">Volver al Inicio</a></b>
            <b><a routerLink="/modificar">Modificar Libros</a></b>
        </div>
    </div>
    <div id="derecha">
        <form id="insertarLibro" action="">
            <h1><b>Insertar Libro</b></h1>
            <label for="titulo">Titulo:</label>
            <input type="text">
            <label for="genero">Género:</label>
            <input type="text">
            <label for="descripcion">Descripción:</label>
            <textarea name="" id="" cols="30" rows="5"></textarea>
        </form>
    </div>
</section>